<!-- Need to figure out how to set default checked values.  Current setup doesn't work -->
<div class="pricing">
  <div>
    <h3>Number of Meals</h3>
    <mat-radio-group aria-label="numOfMeals" name="numOfMealsRg" [(ngModel)]="selectedNumOfMeals" (ngModelChange)="numOfMealsChanged()">
      <mat-radio-button *ngFor="let numObj of numOfMealsObjs" [value]="numObj.num" [checked]="numObj.checked">
        {{ numObj.num }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div>
    <h3>Portion Size</h3>
    <mat-radio-group aria-label="portionSize" [(ngModel)]="selectedPortionSize" (ngModelChange)="portionSizeChanged()">
      <mat-radio-button *ngFor="let portionSize of portionSizes" [value]="portionSize">
        {{ portionSize }} ({{ portionSizeDescriptions[portionSize]}})
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div>
    <p>Price: {{ price }}</p>
  </div>
</div>
